@model AppHotelBeachSA.Models.Paquete

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<div>
    <h4>Paquete</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPaquete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPaquete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePaquete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePaquete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>


        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcentajePrima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcentajePrima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumMensualidades)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumMensualidades)
        </dd>
    </dl>
    
    <form asp-action="Eliminar">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-primary">Lista</a>
    </form>
</div>
